:root {
    --positionX: 40px;
    --positionY: 190px;
    --playerPositionY: 0px;
    --opponentPositionY: 0px;
}

.window {
    position: relative;
    margin: auto;
    width: 60%;
}

.windowBackground {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 740px;
    height: 500px;
    background-color: black;
}

.title {
    position: absolute;
    left: 50px;
    top: 10px;
    width: 640px;
    font-family: "Arial";
    font-size: 20px;
    text-align: center;
    color: white;
}

.playerScore {
    position: absolute;
    left: 50px;
    top: 460px;
    width: 320px;
    font-family: "Arial";
    font-size: 20px;
    text-align: left;
    color: lightseagreen;
}



.computerScore {
    position: absolute;
    left: 370px;
    top: 460px;
    width: 320px;
    font-family: "Arial";
    font-size: 20px;
    text-align: right;
    color: lightcoral;
}

.field {
    position: absolute;
    left: 50px;
    top: 50px;
}

.background {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 640px;
    height: 400px;
    background-color: black;
    border-style: solid;
    border-color: white;
}

.ball {
    position: absolute;
    left: var(--positionX);
    top: var(--positionY);
    width: 20px;
    height: 20px;
    background-color: white;
}

.statusMessage {
    position: absolute;
    left: 0px;
    top: 190px;
    width: 640px;
    font-size: 25px;
    font-family: "Arial";
    color: white;
    text-align: center;
}

.player {
    position: absolute;
    left: 20px;
    top: var(--playerPositionY);
    width: 20px;
    height: 60px;
    background-color: lightseagreen;
}

.opponent {
    position: absolute;
    left: 600px;
    top: var(--opponentPositionY);
    width: 20px;
    height: 60px;
    background-color: lightcoral;
}